<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <title>About</title>
  <style>
    body {
      font: 16px sans-serif;
      color: white;
      background-color: black;
    }
    a {
      color: tomato;
    }
  </style>
</head>

<body>
  <h2>About</h2>
  <p><em>White Collar Crime Risk Zones</em> is a predictive policing app for white collar crimes.</p>
  <p>We use real data and machine learning to predict the likelihood and severity of white collar crimes occuring throughout the entire United States.</p>
  <p>Click on a zone to see details about our predictions, including types of crimes, potential organizational offenders, and expected fees.</p>
  <p>For certain areas we've also generated composite images of potential white collar criminals by averaging the faces of corporate executives working in nearby financial firms.</p>
  <p>The application will attempt to notify you when you enter a high risk zone for white collar crime. By default, you will be notified for areas where we predict an 80% or higher crime likelihood.</p>
  <p>You can read our white paper to learn more about <a href="https://whitecollar.thenewinquiry.com/static/whitepaper.pdf">our methodology here.</a></p>
  <p>A desktop version is also available at <a href="https://whitecollar.thenewinquiry.com/">whitecollar.thenewinquiry.com</a>.</p>

  <h2>Credits</h2>
  <p>Made for <em><a href="http://thenewinquiry.com">The New Inquiry</a></em> by <a href="http://brianclifton.io">Brian Clifton</a>, <a href="http://lav.io">Sam Lavigne</a>, and <a href="http://frnsys.com/">Francis Tseng</a>.</p>

  <h2>Learn more about predictive policing</h2>
  <ul>
    <li><a href="https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing">Machine Bias</a></li>
    <li><a href="https://www.themarshallproject.org/2016/02/21/what-you-need-to-know-about-predictive-policing#.9LvlHG9QA">What You Need To Know About Predictive Policing</a></li>
    <li><a href="https://www.aclu.org/other/statement-concern-about-predictive-policing-aclu-and-16-civil-rights-privacy-racial-justice">Statement of Concern About Predictive Policing</a></li>
  </ul>

</body>

</html>
